@import "libs/global.scss";
@import "libs/menu.scss";

body {
  margin: 0px;
}

a{
  text-decoration:none;
}

  $cd-primary-color:#579c87;
  $cd-font-color:#fdcb46ff;

  header {
      background-color: $cd-primary-color;
      width: 100%;
      height: 98px;
      display: flex;
      
      img{
        height: 43px;
        margin: 32px;
        margin-left: 320%;
        
      }

      .logo{
        height: 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  /* navigations menus*/
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
       display: inline-block;    
       margin: auto;
       margin-top: 32px;
       width: 200px;
       height: 282px; 
      }
       .nav__link__1{
       background-color: #fcdfdb;
      @include menu_mini;
      @include font1;
      }
   
      .nav__link__2{
        background-color: #fff5fe;
        @include menu_mini;
        @include font2;
       }
       .nav__link__3{
        background-color: #eef0f0;
        @include menu_mini;
        @include font3;
       }
       .nav__link__4{
        background-color: #fdfffd;
        @include menu_mini;
        @include font4;
       }
     }
/* pages menus*/
     .menu-1{
      background-color: #fcdfdb;
       @include menu;
     }

     .menu-2{
      background-color: #fff5fe;
      @include menu;
    }

    .menu-3{
      background-color: #eef0f0;
      @include menu;
    }
     .menu-4{
      background-color: #fdfffd;
      @include menu;
     }
/* pied page*/
#prochainement {
  background: $cd-primary-color;
  border: 1px solid $cd-primary-color;
  color: $cd-font-color;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 30px;
  font-family: "roboto";
  width: 258px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: $cd-primary-color;
}

.foot{
    font-family: "roboto";
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    height: 98px;
    height: 12vmin;
  .text{
  color: $cd-font-color;
  }
}
/* responsive*/

@media all and (max-width: 700px) {
  body
 {
     width: auto;
  }

  header {
    background-color: $cd-primary-color;
    width: 100%;
    height: 100%;
    display: flex;

    img{
      height: 43px;
      margin: 32px;
      margin-left: 55%;
    }
    .logo{
      height: 43px;
    }
  }
}
